# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log

# Env / virtual environments
env/
venv/

# IDEs
.vscode/
.idea/

# Node / React
node_modules/
build/

# Static files (optional if collected in project)
staticfiles/
